.sidebar1 {
    position: sticky;
    top: 0;
    padding: 15px 0 0 15px;
    flex-shrink: 0;
}
.sidebar2 {
    position: sticky;
    top: 0;
    padding: 15px 15px 0 0;
    flex-shrink: 0;
}

.routes {
    max-width: 850px;
    height: 100vh;

    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
