.page {
    .comback {
        margin-bottom: 10px;
    }
    .area {
        padding-bottom: 50px;
    }

    .btn {
        width: 150px;
        height: 40px;
        margin-top: 10px;
    }

    .letter {
        margin-top: 40px;
        h3 {
            padding-bottom: 10px;
        }
    }

    padding-bottom: 100px;
    box-sizing: border-box;
}
