.auth {
    h1 {
        font-weight: 700;
        font-size: 26px;
        color: var(--white-color);
        margin-bottom: 29px;
    }
    .input {
        width: 320px;
        margin-bottom: 15px;
    }
    .button {
        width: 89px;
        height: 48px;
    }
    .forgetPassword {
        cursor: pointer;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #7b7b7b;
    }
    .isHaveAcc {
        margin-top: 33px;
        font-size: 14px;
        color: var(--white-color);
        & span {
            a {
                cursor: pointer;
                font-weight: 600;
                color: var(--normal);
            }
        }
    }
}

.right {
    width: 50vw;
}

.left {
    background: var(--normal);
    box-shadow: 8px 0 14px 0 var(--normal);
    height: 100vh;
    width: 50vw;
}
