.notification {
    h1 {
        font-weight: 900;
        font-size: 20px;
        color: var(--white-color);
        margin-bottom: 16px;
    }
}

.settingsPage {
    & h2 {
        margin: 25px 0 25px 0;
        color: var(--gray1);
        font-size: 20px;
    }
    & h3 {
        color: var(--gray1);
        margin: 30px 0 10px 0;
        font-weight: 700;
        font-size: 20px;
    }
    .include {
        margin: 18px 0 25px 0;
    }
}
