.vacancy {
    height: 80vh;
    padding: 10px 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 150px;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        display: none;
    }
    gap: 15px;
    .formats {
        p {
            font-size: 14px;
            padding-bottom: 5px;
        }
        gap: 5px;
    }

    .btn {
        width: 100px !important;
        height: 50px;
        align-self: center;
    }
}
