.page {
    & section {
        margin-top: 32px;
        font-size: 14px;
        width: 812px;
    }
}

.left {
    width: 260px;
    & h3 {
        margin-bottom: 4px;
        font-weight: 700;
        color: var(--white-color);
    }
    & p {
        font-size: 12px;
        opacity: 0.6;
        font-weight: 300;
    }
    & p:last-child {
        opacity: 1;
        font-weight: 700;
        color: var(--normal);
        margin-top: 12px;
    }
}
